@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: medium;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 10px 6px -6px #777;
}

section.logo {
  display: flex;
  align-items: center;
  flex: 2 1 400px;
  background-color: white;
}

section.logo img {
  width: 20%;
}

h1 {
  font-size: 2.5rem;
}

nav {
  flex: 5 1 600px;
  background-color: white;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  color: black;
  transition: all 0.25s ease;
}
nav ul li a:hover {
  color: #b6c649;
  border-bottom: #b6c649 solid 1px;
}

body img.bkimg {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -5;
  bottom: 0;
}
body main section.img {
  min-height: 70vh;
  background-image: url("../images/日本櫻花.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.img div.filter {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 70vh;
  position: absolute;
  z-index: -1;
}
body main section.img h3 {
  font-size: 1.65rem;
  color: white;
  text-align: center;
  padding: 0.5px;
}
body main section.intro {
  background-color: white;
  padding: 2rem 1rem;
}
body main section.intro h2 {
  font-size: 2.6rem;
  text-align: center;
}
body main section.intro div.circle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding: 2.25rem 1rem;
}
body main section.intro div.circle div.circles {
  flex: 0 1 250px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}
body main section.intro div.circle img {
  width: 120%;
  border-radius: 50%;
  padding: 0.5rem;
}
body main section.intro div.circle img:hover {
  border: #b6c649 1px solid;
  transition: all 0.3s ease-in;
}
body main section.empty {
  min-height: 70vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("/images/清水寺.jpg");
}
body main section.empty h3 {
  font-size: 1.65rem;
  color: white;
}
body main section.google-map {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.6rem;
}
body main section.google-map h3 {
  font-size: 1.65rem;
}
body main section.google-map p {
  font-size: 1.25rem;
  padding: 1rem;
}
body main section.google-map iframe {
  width: 100%;
  min-height: 40vh;
}
body footer {
  background-color: white;
}
body footer section.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body footer section.logos img {
  width: 15%;
}
body footer section.link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
}
body footer section.link a img {
  width: 50%;
  transition: a11 0.3s ease in;
}
body footer section.link a img:hover {
  content: url(../Icons/instagram.svg);
}

@media (max-width: 500px) {
  header section.logo {
    flex-direction: column;
  }
  header section.logo img {
    width: 60%;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
  header nav ul li {
    padding: 1.6rem;
  }
  header nav ul a {
    padding: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */